.body-box-primary{
    border: 1px solid ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.9) !important;
    background: transparent;
 
}

.body-footer{
    background-color: #1e282c;
}