.body-content-wrapper{
/*background: rgb(38,80,198);
background: radial-gradient(circle, rgba(38,80,198,1) 0%, rgba(51,78,152,1) 100%);*/

/*background: linear-gradient(#4366c9 0%, #082d96 100%);*/
background: rgb(88,129,245);
background: radial-gradient(circle, rgba(88,129,245,1) 0%, rgba(15,66,212,1) 100%);
}

.body-sidebar{
 background-color: #001e6e !important;

 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.body-navbar-top{
  background-color: #001e6e !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.body-main{
   margin: 0 40px;
}

.pad-top-box {
padding-top: 10px;
}

.body-modal-content{
    background: #001e6e;
    color: white;
}

.body-close{
color:white;
}