
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN THEME CUSTOMIZER-->
        <div id="theme-change" class="hidden-phone" style="display:none">
            <i class="icon-cogs"></i>
            <span class="settings">
                <span class="text">Theme:</span>
                <span class="colors">
                    <span class="color-default" data-style="default"></span>
                    <span class="color-gray" data-style="gray"></span>
                    <span class="color-purple" data-style="purple"></span>
                    <span class="color-navy-blue" data-style="navy-blue"></span>
                </span>
            </span>
        </div>
        <!-- END THEME CUSTOMIZER-->
        <h3 class="page-title"></h3>
        @*<ul class="breadcrumb">
                <li>
                    <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    <a href="#"> Master</a> <span class="divider">&nbsp;</span>
                </li>
                <li><a href="#"> User</a><span class="divider-last">&nbsp;</span></li>
            </ul>*@
    </div>
</div>


<!-- BEGIN PAGE -->
<div class="row-fluid">
    <div class="span12">
        <div class="space20"></div>
        <div class="space20"></div>
        <div class="widget-body">
            <div class="error-page" style="min-height: 800px">
                <img src="~/Assets/403.jpg" alt="403 error">
                <h1>
                    <strong>403</strong> <br />
                    You don't have authorized
                </h1>
                <p>We're sorry, please contact your admin.</p>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE -->
