@model DIPO_INVESTAMA.Entity.sp_DepartmentSelect_Result
@using (Html.BeginForm("Create", "Department", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal-content body-box-primary">
        <div class="modal-header">
            <button type="button" class="close body-close" data-dismiss="modal">×</button>
            <h3 class="Poppins-Bold font-white">Department / Create</h3>
        </div>
        <div class="modal-body Poppins-Regular font-white">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <label>Department Name</label>
                        @Html.TextBoxFor(model => model.DepartmentName, new { @class = "form-control", @placeholder = "Department Name", autocomplete = "off", required = "required" })
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a type="button" class="btn btn-default" href="@Url.Action("Index","Department")">Kembali</a>
        </div>
    </div>
}
